<h1>hello world</h1>

<section>

<% if logged_in? %>
<h2>Welcome <%= current_user['name'] %></h2>

<a href="/social/new">Add new post</a>

<form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Console.Logout</button>
</form>

<a href="/social/user_page">Your page</a>

<section class="all-posts">
    <% social_posts.each do |posts| %>
    <article class="post-item">
    <h2><a href="/users/<%= posts['user_id'] %>/other_user_page"><%= posts['name'] %></a></h2>

    <img src="<%= posts['image_url'] %>" alt="">

    <h3><%= posts['bootcamp']%></h3>

    <p><%= posts['post'] %></p>

    <p>Feeling: <%= posts['feeling'] %></p>

    </article>
    </form>

        
    <% end %>

</section>

<% else %>
    <a href="/sign_up">Sign up</a>
    <a href="/login">login</a>
<% end %>



