

<% if logged_in? %>

    <header>
        <h2 class="welcome-user">Welcome <%= current_user['name'] %></h2>
    </header>

<section class="home-page">
    <aside class="side-user-bar">
        <a href="/social/new" class="add-new-post-btn">Add new post</a>
        <a href="/social/user_page" class="your-page-btn">Your page</a>
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Console.Logout</button>
        </form>

        <button id="night-mode-button">Night Mode!</button>
    </aside>


    <section class="all-posts">
        <% social_posts.each do |posts| %>
            <div class="post-heading">
                <img src="<%= posts['image_url'] %>" class="user-image"alt="">
                <h2><a href="/user/<%= posts['user_id'] %>/other_user_page/" class="link-to-user-name"><%= posts['name'] %></a></h2>
                <h3><%= posts['bootcamp']%></h3>
            </div>
        <article class="post-item">
            <span>
                <time class="time-and-date"><%= posts['time_and_date'] %></time>
                <p id="home-page-post"><%= posts['post'] %></p>
                <p id="home-page-feeling">Feeling: <%= posts['feeling'] %></p>
                <button id="like_button">0 Likes</button>
            </span>
        </article>
        </form>
        <% end %>
    </section>

    <aside class="resources-side-bar">
        <h2>Stuck in bug city?</h2>
        <p>check out the below resources</p>
        <ul>
            <li><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN</a></li>
            <li><a href="https://www.w3schools.com/" target="_blank">W3Schools</a></li>
            <li><a href="https://medium.com/@dannysmith/breaking-down-problems-its-hard-when-you-re-learning-to-code-f10269f4ccd5" target="_blank">Breaking down solutions</a></li>
            <li><a href="https://github.com/matt297/sinatra-dev-cheatsheet" target="_blank">Sinatra Cheat Sheet</a></li>
            <li><a href="https://www.codewars.com/" target="_blank">Code Wars</a></li>
            <li><a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a></li>
            <li><a href="https://coding-resources-sei53.herokuapp.com/" target="_blank">Coding Resource App</a></li>
        </ul>
    </aside>

</section>

<% else %>
    <section>
    <div class="heading-container">
        <h1>Coding Boottalk</h1>
    </div>
    <div class="sign_up_and_log_in_button">
        <a href="/user/sign_up" class="sign_up">Sign up</a>
        <a href="/login" class="login">login</a>
        <article class="about_us_container">
            <p class="about_us">Welcome to Coding Boottalk! A pseudo social media app where coding bootcamp students can scream into the void about their struggles or their wins. You won't be able to comment on posts or keep track of notifications, but this is 5 days of blood sweat and tears of coding bootcamp student Geoff Sizgoric. To check out the project brief and the code, click here to view his <a href="https://github.com/Geoph88" target="_blank">github.</a></p>
        </article>
    </section>
<% end %>




