
<section>
<% if logged_in? %>
<h2>Welcome <%= current_user['name'] %></h2>

<a href="/social/new">Add new post</a>

<form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Console.Logout</button>
</form>

<a href="/social/user_page">Your page</a>

<section class="all-posts">
    <% social_posts.each do |posts| %>
    <article class="post-item">
            <div class="post-heading"></div>
            <img src="<%= posts['image_url'] %>" alt="">
            <h2><a href="/user/<%= posts['user_id'] %>/other_user_page/"><%= posts['name'] %></a></h2>
        </div>
        <%# <time class="time_of_post"></time> %>
        <h3><%= posts['bootcamp']%></h3>
        <p><%= posts['post'] %></p>
        <p>Feeling: <%= posts['feeling'] %></p>

    </article>
    </form>

        
    <% end %>

</section>

<% else %>
    <div class='heading container'>
        <h1>Coding Boottalk</h1>
    </div>
    <div class="sign_up_and_log_in_button">
    <a href="/user/sign_up" class="sign_up">Sign up</a>
    <a href="/login" class="login">login</a>
    <article class="about_us_container"><p class="about_us">Welcome to Coding Boottalk! A pseudo social media app where coding bootcamp students can scream into the void about their struggles or their wins. You won't be able to comment on posts or keep track of notifications, but this is the work of 7 weeks of blood sweat and tears of coding bootcamp student Geoff Sizgoric. To check out the project brief and the code, click here to view his <a href="https://github.com/Geoph88">github.</a></p></article>
    </div>
<% end %>



