<% if logged_in? %>

<h1><%= current_user['name'] %>'s Page</h1>

<a href="/social/new">Add new post</a>

<form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button>
</form>

<section class="all-posts">
    <% personal_posts.each do |posts| %>
    <article class="post-item">
    <h2><%= posts['user_name'] %></h2>

    <a href="/social/<%= posts['id'] %>/edit">edit</a>


    <img src="<%= posts['image_url'] %>" alt="">

    <p><%= posts['post'] %></p>
    </article>


    <form action="/social/<%= posts['id'] %>" method="POST">
        <input type="hidden" name="_method" value="delete">

        <button>delete</button>
    </form>
    <% end %>
</section>

<% end %>