<% if logged_in? %>

<header class="user-heading">
    <img src="<%= current_user['image_url']%>" alt="">
    <h1><%= current_user['name'] %>'s Page</h1>
</header>

<section class="personal-posts">
    <aside class="side-user-page-bar">
            <a href="/social/new" class="add-new-post-btn">Add new post</a>
            <form action="/sessions" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>Logout</button>
            </form>
            <a href="/" class="home-page-btn">Home page</a>
    </aside>

    <article>
        <% personal_posts.each do |posts| %>
        <article class="user-post-item">

            <time class="time-and-date"><%= posts['time_and_date'] %></time>
            <p><%= posts['post'] %></p>
            <p class="user-page-feeling">Feeling: <%= posts['feeling'] %></p>
        
            <div class="edit-and-delete-container">
                <a href="/social/<%= posts['id'] %>/edit">✏️</a>

                <form action="/social/<%= posts['id'] %>" method="POST">
                    <input type="hidden" name="_method" value="delete">

                    <button>Delete</button>
                </form>
            </div>
    </article>
    
    <% end %>
</section>

<% end %>

